.header_get{
    background-color: rgba(158, 180, 192, 0.322);
    height: 900px;
    /* padding-left: 300px;
    padding-right: 300px; */
    background-image: url("./images/welcome-banner.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: blue;
    opacity: 10;
    color: aliceblue;
  }

  
.h1_main{
    text-align: center;
    font-size: 42px;
    text-transform: uppercase;
    margin-top: 180px;

}
.lorem{
    text-align: center;
}

.container{
    display: grid;

    grid-template-columns: 450px 1fr;

}
.logo{
    text-transform: uppercase;
    font-size: 25px;
}

.menu{
    margin-top: 30px;
}


.menu li{
    display: inline;
    margin-right: 30px;
    text-transform: uppercase;
    font-size: 15px;
}

.conteiner2{
    display: grid;

    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    padding-top: 100px;
}
.my_photo{
    /*width: 200px;*/
    height: 50px;
    padding-left: 50px;   
}


.container3{
    display: grid;
    margin: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    border: 1px black;
}

.my_car{
margin: 30px; 
/*border: 1px solid black;*/
float:right;
grid-template-columns: 1fr 1fr 1fr 1fr;
/*height: 300px;
width: 300px;*/
 
}

.photo-block{
    border-bottom: 1px black solid;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    
}

.model{
    border-bottom: 1px black solid;
}
.shadow{
    height: 900px; 
    padding-left: 300px;
    padding-right: 300px;  
    background-color: rgba(11, 6, 78, .60);
    /* opacity: 0.2; */
}


.h2_main{
    text-transform: uppercase;
    color: rgb(104, 105, 104);
    text-align: center;
}


.line{
    width: 185px;
    height: 2px;
    background-color: blueviolet;
    margin-left: 855px;
    opacity: 80%;
}

.test_test{
    width: 1100px;
    height: 300px;
    margin-top: -50px;
    border: 2px black solid;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    display: grid;
    box-shadow: 10px 5px 5px rgba(136, 132, 132, 0.795);
    grid-template-columns: 25% 25% 25% ;
    border-radius: 20px;
}

.wrapper{
    margin-top: -120px;
    

}


.one{
    display: block;
    padding-top: 20px;
    margin-left: 20px;
    font-size:larger;
    
    
}

.search{
    background-color: blue;
    width: 160px;
    height: 60px;
    margin-left: 850px;
    margin-top: -140px;
    border: 2px black solid;
    text-align: center;
    text-transform: uppercase;
    color: rgba(240, 248, 255, 0.733);
}

.cube2{
    height: 700px;
    width: 2000px;
    border: 1px black;
    background-color: brown;

    display: grid;
    grid-template-columns: 25% 25% 25%  ;

}


.name2{
    height: 400px;
    width: 300px;
    background-color: aqua;

    border: 1px black solid;

    margin-left: 250px;
    margin-top: 80px;

}


.name3{
    text-align: center;
    text-transform: uppercase;
    margin-top: 200px;
}